body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(to right, #f5e6ca, #d4ad7f);
    color: #544e48;
}
header {
    background-color: #8c7845;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}
nav {
    background-color: #bb9e75;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}
nav a {
    color: #fff;
    text-decoration: none;
    padding: 0 20px;
}
section {
    padding: 20px;
}
.menu {
    display: inline-block;
    margin: 20px;
    padding: 10px 20px;
    background-color: #ede3d3;
    border-radius: 5px;
}